# Node modules
node_modules/

# Build output
dist/

# Vercel and environment files
.vercel/
.env
.env.production

# System files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Editor settings
.vscode/
.idea/
